:root {
  --color-yellow: #ffca2f;
  --body-bg: rgb(240, 240, 240);
  --font-Montserrat: "Montserrat", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5rem;
}

.wrapper {
  background: var(--body-bg);
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  gap: 1rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

.primary-header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 4px 16px rgb(65, 65, 65);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100px;
}
.primary-header .logo {
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.primary-header .logo .line::before {
  content: "";
  background: rgb(251, 163, 0);
  height: 100%;
  width: 8px;
  position: absolute;
  top: 0;
  left: 60%;
}
.primary-header .right #check,
.primary-header .right .checkBtn {
  display: none;
}
.primary-header .right .checkBtn {
  cursor: pointer;
  font-size: 1.8rem;
  float: right;
  padding-right: 2.5rem;
}
.primary-header .right .primary-navigation {
  list-style: none;
  gap: 2.5rem;
  font-weight: bold;
}
.primary-header .right .primary-navigation li a:hover {
  color: rgb(251, 163, 0);
}

.section1 {
  background: var(--color-yellow);
  grid-template-areas: "one two";
  margin: 10rem auto 3rem auto;
  width: 90vw;
  position: relative;
  padding: 0 2rem;
}
.section1::before {
  content: "Developer";
  position: absolute;
  right: 0;
  top: -2.5rem;
  font-style: bold;
  font-size: 5rem;
  color: rgba(241, 219, 14, 0.7843137255);
}
.section1 .left {
  grid-area: one;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.section1 .left img {
  width: 350px;
}
.section1 .right {
  grid-area: two;
  gap: 0.8rem;
  flex-direction: column;
  justify-content: center;
}
.section1 .right div .name {
  line-height: 4rem;
  font-size: 3.5rem;
  color: white;
}
.section1 .right div .tag {
  color: white;
  font-size: 2rem;
  font-family: var(--font-Montserrat);
  margin-top: 1rem;
  font-weight: bold;
}
.section1 .right button {
  border: 0;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  background: black;
  color: #fff;
  cursor: pointer;
  margin-top: 2rem;
}
.section1 .right button i {
  color: var(--color-yellow);
  font-size: 1.5rem;
}

@media (width <= 992px) {
  .section1 {
    grid-template-areas: "one" "two";
    padding-bottom: 2rem;
  }
  .section1 .right {
    align-items: center;
  }
}
.section2 {
  justify-content: center;
}
.section2 .info-container {
  width: 80vw;
  border: 1px solid black;
  border-radius: 50px;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.section2 .info-container .info-lists .icon-container i {
  font-size: 2.5rem;
  color: var(--color-yellow);
}
.section2 .info-container .info-lists div h5 {
  letter-spacing: 2px;
}
.section2 .info-container .info-lists div p {
  color: #cb9a08;
}
.section2 .info-container .info-divider {
  background: grey;
  width: 2px;
  height: 35px;
} /*# sourceMappingURL=style.css.map */
